@font-face {
  font-family: "Futura PT Bold";
  src: local("Futura PT Bold"), local("Futura-PT-Bold"), url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Medium";
  src: local("Futura PT Medium"), local("Futura-PT-Medium"), url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Book";
  src: local("Futura PT Book"), local("Futura-PT-Book"), url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Light";
  src: local("Futura PT Light"), local("Futura-PT-Light"), url("../fonts/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* ************ FONT *********** */
/* ********** Color ********* */
/* ********* mixin ************* */
a {
  text-decoration: none;
}

body {
  font-family: "Futura PT Medium";
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  line-height: 130%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ********** container ************ */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
}

._container {
  max-width: 1160px;
  padding: 0px 15px;
  margin: 0 auto;
}

.display-none {
  display: none;
}

/****************** button ************************/
.button {
  display: inline-block;
  font-family: "Futura PT Medium";
  font-size: 16px;
  line-height: 130%;
  color: #F5F6F8;
  background-color: #ED1B24;
  padding: 15px 33px;
  border: none;
  text-transform: uppercase;
  border-radius: 80px;
}

.button:hover, .button:focus {
  background-color: #141B24;
  color: #F5F6F8;
}

.button:focus {
  background-color: #A5A5A5;
  color: #F5F6F8;
}

/* **************** global class ******************* */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #FAF4EC;
}

.header_hidden {
  position: fixed;
  width: 100%;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-img {
  padding: 28.5px 0;
}

.header__menu-1 {
  display: block;
  position: fixed;
  left: 0;
  top: -100%;
  height: 100%;
  overflow: auto;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: white;
  z-index: 99;
}

.header__menu-block_normal {
  background-color: rebeccapurple;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.manu__item:not(:first-child) {
  margin: 0px 10px;
}

.manu__item {
  font-family: "Futura PT Light";
  font-size: 18px;
  line-height: 130%;
}

.menu__link {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 30px;
  color: #141B24;
}

.menu__link:hover, .menu__link:focus {
  background-color: #141B24;
  color: #F5F6F8;
  outline: none;
}

.menu__link:active {
  background-color: #ED1B24;
  color: #F5F6F8;
}

.salom {
  margin-top: 110px;
  height: 800px;
  font-size: 30px;
}

@media (max-width: 1040px) {
  body.lock {
    overflow: hidden;
  }

  .burger {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
  }

  .burger span {
    position: absolute;
    display: inline-block;
    top: 9px;
    right: 0;
    height: 2px;
    width: 73%;
    background-color: #141B24;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .burger::after, .burger::before {
    position: absolute;
    content: "";
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #141B24;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .burger::after {
    top: 0;
  }

  .burger.active::after {
    top: 11px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .burger.active::before {
    bottom: 11px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .burger::before {
    bottom: 3px;
  }

  .header__menu {
    display: block;
    position: fixed;
    left: 0;
    top: -100%;
    height: 100%;
    overflow: auto;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: white;
    z-index: 10;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
  }

  .header__menu.active {
    top: 0;
    padding-top: 100px;
  }

  .header__logo-img {
    position: relative;
    z-index: 11;
  }

  .manu__item:not(:first-child) {
    margin: 0px;
  }

  .menu__link {
    display: block;
  }

  .header__button-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 11;
  }

  .header__block-logo {
    z-index: 11;
  }

  .burger {
    margin-left: 30px;
  }

  .header__menu.active {
    background-color: #FAF4EC;
  }
}
@media (max-width: 768px) {
  .header__logo-img {
    max-width: 122px;
    max-height: 27px;
    padding: 11px 0;
  }

  .button_header {
    display: none;
  }

  .menu__list.active {
    padding-top: 55px;
  }

  .burger {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-right: -5px;
  }

  .manu__item {
    font-size: 16px;
    padding: 0px 5px;
  }

  .menu__link {
    padding: 5px 15px;
  }

  .header__menu.active {
    padding-top: 60px;
  }
}
/******************* page **************/
.page {
  position: relative;
}

.main-body {
  background-color: #FAF4EC;
  padding-bottom: 60px;
}

.main-body_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main-body__title {
  font-family: "Futura PT Medium";
  font-size: 54px;
  line-height: 130%;
  padding-top: 160px;
  padding-bottom: 60px;
}

.main-body__title-text {
  text-transform: uppercase;
}

.main-body__title-text__red {
  color: #ED1B24;
}

.main-body__title-text__strong {
  font-weight: 700;
  color: #ED1B24;
}

.main-body__img {
  position: absolute;
  top: 70px;
  right: 0;
  max-width: 503px;
  max-width: 503px;
}

.main-body__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  background-color: #EDE6DD;
  border-radius: 8px;
}

.main-body__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main-body__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.main-body__grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.main-body__grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.main-body__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-body__block-body {
  position: relative;
  padding: 20px 27px 44px;
}

.main-body__block__text {
  margin-top: 10px;
  max-width: 223px;
}

.main-body__block-body::after {
  position: absolute;
  content: "";
  top: 75px;
  right: 0;
  background-color: #F5F6F8;
  width: 6px;
  height: 90px;
}

.main-body__block-body_last-child::after {
  display: none;
}

.main-body__block-button {
  display: none;
  margin-top: 10px;
}

.main-body_button {
  width: 100%;
}

@media (max-width: 1040px) {
  .main-body__title {
    font-size: 50px;
    max-width: 500px;
  }

  .main-body__grid {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .main-body__grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .main-body__grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .main-body__grid > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .main-body__grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .main-body__img-img {
    max-width: 350px;
    max-height: 350px;
  }

  .main-body__img {
    top: 109px;
  }

  .main-body__block-body::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .main-body {
    padding-top: 55px;
  }

  .main-body__block-button {
    display: block;
  }

  .main-body__title {
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 30px;
  }

  .main-body__title-text {
    max-width: 290px;
  }

  .main-body__img {
    top: 104px;
    right: -20px;
  }

  .main-body__img-img {
    width: 250px;
    height: 250px;
  }

  .main-body__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .main-body__grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .main-body__block-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px 10px 10px;
    width: -webkit-fill-available;
  }

  .main-body__block__text {
    text-align: start;
    padding-top: 3px;
    margin-left: 10px;
    max-width: none;
    margin-top: 0;
  }

  .main-body__block-body_last-child {
    padding-bottom: 30px;
  }
}
@media (max-width: 420px) {
  .main-body__img {
    top: 135px;
    right: -20px;
  }

  .main-body__img-img {
    width: 150px;
    height: 150px;
  }
}
.font-title {
  font-family: "Futura PT Bold";
  font-size: 50px;
  line-height: 130%;
}

.questions_container {
  position: relative;
  overflow: hidden;
}

.questions__title {
  margin-top: 70px;
}

.questions__title__text {
  text-align: center;
}

.questions__title__strong-text {
  color: #ED1B24;
}

.questions__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 105px;
}

.questions__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px;
}

.questions__block_2 {
  text-align: start;
}

.questions__block_2 {
  text-align: end;
}

.questions__block__text-block__p {
  font-family: "Futura PT Medium";
  font-size: 20px;
  line-height: 130%;
}

.questions__block__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__block__img {
  width: 172px;
  height: 155px;
  margin: 0px 10px;
}

.questions__block__text-block__p {
  position: relative;
}

.questions__block__text-block__p::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #EDE6DD;
}

.questions_fon__circle {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  top: 20%;
  left: 40%;
  border: 2px solid #EDE6DD;
  opacity: 0.4;
  z-index: -1;
}

.questions_fon__circle-1 {
  width: 250px;
  height: 250px;
  top: 28%;
  left: 42.3%;
}

.questions_fon__circle-2 {
  width: 400px;
  height: 400px;
  top: 2%;
  left: 36%;
}

.questions_fon__circle-3 {
  width: 600px;
  height: 600px;
  top: -32%;
  left: 27%;
}

.questions_fon__circle-4 {
  width: 800px;
  height: 800px;
  top: -63%;
  left: 17.5%;
}

.questions_fon__circle-5 {
  width: 1000px;
  height: 1000px;
  top: -94%;
  left: 8%;
}

.questions_fon__circle-6 {
  width: 1200px;
  height: 1200px;
  top: -126%;
  left: 0%;
}

@media (max-width: 1024px) {
  .questions_fon__circle-1 {
    left: 41%;
  }

  .questions_fon__circle-2 {
    left: 36%;
  }
}
@media (max-width: 940px) {
  .questions_fon__circle-1 {
    left: 40%;
  }

  .questions_fon__circle-2 {
    left: 33%;
  }

  .questions_fon__circle-3 {
    left: 24%;
  }

  .questions_fon__circle-4 {
    left: 14.5%;
  }

  .questions_fon__circle-5 {
    left: 4%;
  }

  .questions_fon__circle-5 {
    left: -5%;
  }
}
@media (max-width: 830px) {
  .questions_fon__circle-1 {
    left: 38%;
  }

  .questions_fon__circle-2 {
    left: 30%;
  }

  .questions_fon__circle-3 {
    left: 21%;
  }

  .questions_fon__circle-4 {
    left: 10.5%;
  }

  .questions_fon__circle-5 {
    left: -8%;
  }

  .questions_fon__circle-5 {
    left: -12%;
  }
}
@media (max-width: 768px) {
  .questions {
    display: none;
  }
}
.write {
  background-color: #ED1B24;
}

.write__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 0;
}

.write__block-text {
  display: block;
  font-family: "Futura PT Book";
  font-size: 24px;
  line-height: 130%;
  color: #F5F6F8;
  margin-right: 136px;
}

.write_button {
  padding: 14px 57px;
  background-color: #F5F6F8;
  color: #141B24;
}

.write_button:hover {
  padding: 14px 57px;
  background-color: #141B24;
  color: #F5F6F8;
}

@media (max-width: 768px) {
  .write {
    display: none;
  }
}
.suggestions_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.suggestions__main {
  margin: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.suggestions__title {
  max-width: 420px;
}

.suggestions__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  width: 100%;
}

.suggestions__row {
  position: relative;
  cursor: pointer;
}

.suggestions__row__img {
  display: none;
  position: absolute;
  bottom: -120px;
  right: 30px;
  width: 139px;
  height: 91px;
  background-color: #EDE6DD;
  padding: 18px 26px 17px 17px;
  border-radius: 20px;
  z-index: 1;
}

.suggestions__row__img.display {
  display: inline;
}

.suggestions__row::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #EDE6DD;
}

.suggestions__row_last::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #EDE6DD;
}

.suggestions__row_first {
  margin-top: 20px;
}

.suggestions__row__text {
  font-family: "Futura PT Book";
  font-size: 26px;
  line-height: 130%;
  padding: 20px 0;
}

@media (max-width: 960px) {
  .suggestions__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .suggestions__title {
    max-width: none;
  }

  .suggestions__title-text {
    text-align: center;
  }

  .suggestions__block {
    margin-left: 0;
  }

  .font-title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .suggestions {
    display: none;
  }
}
.reviews {
  background-color: #EDE6DD;
  margin-bottom: 100px;
}

.reviews__body {
  padding-top: 41px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews__title {
  text-align: center;
}

.red-title {
  color: #ED1B24;
}

.reviews__grid-rows-1 {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.3fr 22px 3fr;
  grid-template-columns: 2.3fr 3fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 22px;
}

.reviews__grid-rows-1 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.reviews__grid-rows-1 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.reviews__block {
  background-color: #F5F6F8;
}

.reviews__block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 22px;
  height: 100%;
}

.reviews__block-title {
  display: block;
  height: 20%;
}

.reviews__block-title__p {
  font-family: "Futura PT Bold";
  font-size: 24px;
  line-height: 130%;
}

.reviews__block-title__text {
  margin-top: 10px;
}

.reviews__block-title__text__p {
  font-family: "Futura PT Light";
  font-size: 16px;
  line-height: 130%;
}

.reviews__grid-rows-2 {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 22px 1fr 22px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 22px;
}

.reviews__grid-rows-2 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.reviews__grid-rows-2 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.reviews__grid-rows-2 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

@media (max-width: 768px) {
  .reviews {
    display: none;
  }
}
/* ********************** lets go **************** */