@import 'color-mixins';

a {
  text-decoration: none;
}
body {
  @include font ($fontFuture-Medium, 16px);
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  line-height: 130%;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
/* ********** container ************ */
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 0 1;

}
._container {
  max-width: 1160px;
  padding: 0px 15px;
  margin: 0 auto;
}
.display-none {
  display: none
}
/****************** button ************************/
.button {
  display: inline-block;
  @include font($fontFuture-Medium, 16px);
  color: $colorWhite;
  background-color: $colorRed;
  padding: 15px 33px;
  border: none;
  text-transform: uppercase;
  border-radius: 80px;
}
.button:hover, .button:focus  {
  background-color: $colorVeryDark;
  color: $colorWhite;
}
.button:focus {
  background-color: $colorGDark;
  color: $colorWhite
}

/* **************** global class ******************* */

@import 'header';
/******************* page **************/
.page {
  position: relative;
}
@import 'main-body';
.font-title {
  @include font ($fontFuture-Bold, 50px)
}
@import 'questions';
@import 'write';
@import 'suggestions';
@import 'reviews';
/* ********************** lets go **************** */
