.write {
  background-color: $colorRed;
}
.write__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0;
}

.write__block-text {
  display: block;
  @include font ($fontFuture-Book, 24px);
  color: $colorWhite;
  margin-right: 136px;
}
.write_button {
  padding: 14px 57px;
}
@media (max-width:768px) {
  .write {
    display: none;
  }
}
